extends ../../../admin/layouts/default
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination
include ../../mixins/form-change-multi
include ../../mixins/alert

block main
    .card.mb-3
        +alert-success(4500)
        .card-header
            | Bộ Lọc và Tìm Kiếm
        .card-body
            .row
                .col-md-6
                    // Các nút bộ lọc
                    .btn-group
                        +filter-status(filterStatus)
                .col-md-6
                    // Form tìm kiếm
                    +search(keyword)


    +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)



    .card
        .card-body
            .table-responsive
                table(class="table table-hover table-responsive-sm" checkbox-multi)
                    thead
                        tr
                            th
                                input(type="checkbox" name="check-all")
                            th STT.
                            th TÊN SẢN PHẨM
                            th GIÁ TIỀN
                            th VỊ TRÍ
                            th TRẠNG THÁI
                            th
                    tbody
                        each item, index in products
                            tr
                                td
                                    input(type="checkbox" name="id" value=item.id)
                                td #{index + 1}
                                td
                                    .products
                                        img.avatar.avatar-sm(src=item.thumbnail alt=item.title)
                                        div
                                            h6
                                                a(href='javascript:void(0)') #{item.title}
                                            span 24 Apr 2021

                                td #{item.price} VND
                                td
                                    input(type="number"
                                        value=item.position
                                        min="1"
                                        class="form-control form-control-sm"
                                        style="width: 60px"
                                        name="position")
                                td
                                    if(item.status === "active")
                                        a(href="javascript:;"
                                            data-status=item.status
                                            data-id=item.id
                                            button-change-status
                                            class="badge light badge-success") Hoạt động
                                    else
                                        a(href="javascript:;"
                                            data-status=item.status
                                            data-id=item.id
                                            button-change-status
                                            class="badge light badge-danger") Dừng hoạt động
                                td
                                    .d-flex
                                        button(class="btn btn-primary shadow btn-xs sharp me-1")
                                            i.fa.fa-pencil
                                        button(class="btn btn-danger shadow btn-xs sharp"
                                            button-delete
                                            data-id=item.id)
                                            i.fa.fa-trash


    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
    )

    form(
        action=""
        method="POST"
        id="form-delete-item"
        data-path=`${prefixAdmin}/products/delete`
    )

    script(src="/admin/js/product.js")