extends ../../layouts/default

block main
    main.main
        .page-header.breadcrumb-wrap
            .container
                .breadcrumb
                    a(href='/' rel='nofollow') Home
                    span
                    |  Shop
        section.mt-50.mb-50
            .container
                .row
                    .col-lg-12
                        .row.product-grid-3
                            each item in products
                                .col-lg-3.col-md-4
                                    .product-cart-wrap.mb-30
                                        .product-img-action-wrap
                                            .product-img.product-img-zoom
                                                a(href='shop-product-right.html')
                                                    img.default-img(src=item.thumbnail alt=item.title)
                                                    img.hover-img(src=item.thumbnail_hover alt=item.title)
                                            .product-action-1
                                                a.action-btn.hover-up(aria-label='Quick view' data-bs-toggle='modal' data-bs-target='#quickViewModal')
                                                    i.fi-rs-search
                                                a.action-btn.hover-up(aria-label='Add To Wishlist' href='shop-wishlist.html')
                                                    i.fi-rs-heart
                                                a.action-btn.hover-up(aria-label='Compare' href='shop-compare.html')
                                                    i.fi-rs-shuffle
                                            .product-badges.product-badges-position.product-badges-mrg
                                                span.hot Hot
                                        .product-content-wrap
                                            .product-category
                                                a(href='shop-grid-right.html') Music
                                            h2
                                                a(href='shop-product-right.html') #{item.title}
                                            .rating-result(title=item.discountPercentage)
                                                span
                                                    span #{item.discountPercentage}%
                                            .product-price
                                                span $#{item.priceNew}
                                                span.old-price $#{item.price}
                                            .product-action-1.show
                                                a.action-btn.hover-up(aria-label='Add To Cart' href='shop-cart.html')
                                                    i.fi-rs-shopping-bag-add
